{% extends 'main.html' %}

{% block login %}
    <div>
        <form action="http://127.0.0.1:8000/auth/login/" method="post">
            {% csrf_token %}
            <label for="username">User name</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="button" type="submit" value="Submit">
        <div><a href="http://127.0.0.1:8000/auth/register/">Register</a></div>
        </form>
    </div>
{% endblock %}