{% extends "main_page.html" %}
{% load staticfiles %}

{% block shop %}



<br>
<br>
    <br>

<div class="row">
    <div class="col-lg-3" style="margin-top: 10px">
<!--First panel-->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Choose your product features
                    </h4>
                </div>
                    <div class="panel-body">
                        {% if type == 'notebook' %}
                        <form action="http://127.0.0.1:8000/shop/notebook/1/1/" method="post">
                            {% csrf_token %}
                            <h5 style="color: #2aabd2">Компания</h5>
                            <input type="checkbox" name="apple" value="Apple"> Apple<br>
                            <input type="checkbox" name="asus" value="ASUS"> Asus<br>
                            <input type="checkbox" name="samsung" value="Samsung"> Samsung<br>
                            <input type="checkbox" name="acer" value="ACER"> Acer<br>
                            <input type="checkbox" name="lenovo" value="Lenovo"> Lenovo<br>
                            <input type="checkbox" name="dell" value="Dell"> Dell<br>
                            <input type="checkbox" name="hp" value="HP"> HP<br>
                            <hr>
                            <h5 style="color: #2aabd2">Размер экрана</h5>
                            <input type="checkbox" name="screen_resol_2" value="15.4''"> 15.4"<br>
                            <input type="checkbox" name="screen_resol_3" value="15.6''"> 15.6"<br>
                            <hr>
                            <h5 style="color: #2aabd2">RAM</h5>
                            <input type="checkbox" name="orm_size1" value="4 GB"> 4 Гб<br>
                            <input type="checkbox" name="orm_size3" value="8 GB"> 8 Гб<br>
                            <input type="checkbox" name="orm_size2" value="16 GB"> 16 Гб<br>
                            <hr>
                            <h5 style="color: #2aabd2">Память</h5>
                            <input type="checkbox" name="512-HDD" value="512 GB HDD"> 512 Гб-HDD<br>
                            <input type="checkbox" name="512-SSD" value="512 GB SSD"> 512 Гб-SSD<br>
                            <input type="checkbox" name="1TB" value="1 TB"> 1TB<br>
                            <hr>
                            <input class="btn btn-success" type="submit" value="Filter" style="width: 250px">
                        </form>
                        {% elif type == 'smartphone' %}
                        <form action="http://127.0.0.1:8000/shop/smartphone/1/1/" method="post">
                            {% csrf_token %}
                            <h5 style="color: #2aabd2">Компания</h5>
                            <input type="checkbox" name="apple" value="Apple"> Apple<br>
                            <input type="checkbox" name="motorola" value="Motorola"> Motorola<br>
                            <input type="checkbox" name="samsung" value="Samsung"> Samsung<br>
                            <input type="checkbox" name="microsoft" value="Microsoft"> Microsoft<br>
                            <input type="checkbox" name="lenovo" value="Lenovo"> Lenovo<br>
                            <input type="checkbox" name="lg" value="LG"> LG<br>
                            <hr>
                            <h5 style="color: #2aabd2">Размер экрана</h5>
                            <input type="checkbox" name="screen_resol_1" value="4.7''"> 4.7"<br>
                            <input type="checkbox" name="screen_resol_2" value="5.2''"> 5.2"<br>
                            <input type="checkbox" name="screen_resol_3" value="5.4''"> 5.4"<br>
                            <input type="checkbox" name="screen_resol_4" value="5.5''"> 5.5"<br>
                            <input type="checkbox" name="screen_resol_5" value="5.7''"> 5.7"<br>
                            <hr>
                            <h5 style="color: #2aabd2">RAM</h5>
                            <input type="checkbox" name="orm_size1" value="1 GB"> 1 Гб<br>
                            <input type="checkbox" name="orm_size2" value="2 GB"> 2 Гб<br>
                            <input type="checkbox" name="orm_size3" value="3 GB"> 3 Гб<br>
                            <input type="checkbox" name="orm_size4" value="4 GB"> 4 Гб<br>
                            <hr>
                            <h5 style="color: #2aabd2">Память</h5>
                            <input type="checkbox" name="16 GB" value="16 GB"> 16 Гб<br>
                            <input type="checkbox" name="32 GB" value="32 GB"> 32 Гб<br>
                            <input type="checkbox" name="64 GB" value="64 GB"> 64 GB<br>
                            <hr>
                            <input class="btn btn-success" type="submit" value="Filter" style="width: 250px">
                        </form>
                        {% elif type == 'tv' %}
                        <form action="http://127.0.0.1:8000/shop/tv/1/1/" method="post">
                            {% csrf_token %}
                            <h5 style="color: #2aabd2">Компания</h5>
                            <input type="checkbox" name="sony" value="Sony"> Sony<br>
                            <input type="checkbox" name="samsung" value="Samsung"> Samsung<br>
                            <input type="checkbox" name="lg" value="LG"> LG<br>
                            <input type="checkbox" name="philips" value="Philips"> Philips<br>
                            <hr>
                            <h5 style="color: #2aabd2">Размер экрана</h5>
                            <input type="checkbox" name="screen_resol_1" value="40''"> 40"<br>
                            <input type="checkbox" name="screen_resol_2" value="43''"> 43"<br>
                            <input type="checkbox" name="screen_resol_3" value="50''"> 50"<br>
                            <input type="checkbox" name="screen_resol_4" value="84''"> 84"<br>
                            <hr>
                            <input class="btn btn-success" type="submit" value="Filter" style="width: 250px">
                        </form>
                        {% endif %}
                    </div>

            </div>
    </div>



    <div class="col-lg-9" style="margin-top: 10px">
    <div class="row">
        {% for technik in techniks %}
            {% if technik.product_type == 'notebook' or technik.product_type == 'tv' %}
                <div class="col-xs-6 col-sm-4" style="height: 400px">
                    <div class="thumbnail">
                        <img class="product-image" src="{% static technik.product_image %}">
                        <div class="caption">
                            <a href="http://127.0.0.1:8000/notebook/prod/{{ technik.id }}/"><h4>{{ technik.product_name }}</h4></a>
                           <div class="row" style="margin-left: 0px">
                                    <h4>{{ technik.product_stars }}   <i class="fa fa-lg fa-star" style="color: yellow ; margin-top: 8px"></i></h4>  
                            </div>
                            <p>{{ technik.product_description }}</p>
                            <div class="btn-group">
                                <!--<a href="http://127.0.0.1:8000/notebook/prod/{{ technik.id }}/" class="btn btn-primary">О товаре</a>-->

                                 {% if username %}
                                    <a href="http://127.0.0.1:8000/add_to_basket/{{ technik.id }}/{{ techniks.number }}/{{ filtring }}/" class="btn btn-success">В корзину <i style="color: #ffffff" class="fa fa-shopping-cart"></i> </a>
                                {% else %}
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-2">В корзину <i style="color: #ffffff" class="fa fa-shopping-cart"></i> </button>
                                {% endif %}

                                {% if username %}
                                    <a href="http://127.0.0.1:8000/one_click/{{ technik.id }}/" class="btn btn-warning"><i style="color: #ffffff" class="fa fa-mouse-pointer"></i> Купить в клик</a>
                                {% else %}
                                    <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#modal-1"><i style="color: #ffffff" class="fa fa-mouse-pointer"></i> Купить в клик</button>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% elif technik.product_type == 'smartphone' %}
                <div class="col-xs-6 col-sm-4" style="height: 470px">
                    <div class="thumbnail">
                        <img class="product-image1" src="{% static technik.product_image %}">
                        <div class="caption">
                            <a href="http://127.0.0.1:8000/notebook/prod/{{ technik.id }}/"><h4>{{ technik.product_name }}</h4></a>
                            <div class="row" style="margin-left: 0px">
                                    <h4>{{ technik.product_stars }} <i class="fa fa-lg fa-star" style="color: yellow ; margin-top: 8px"></i></h4>  
                            </div>
                            <p>{{ technik.product_description }}</p>
                            <div class="btn-group">
                        

                                 {% if username %}
                                    <a href="http://127.0.0.1:8000/add_to_basket/{{ technik.id }}/{{ techniks.number }}/{{ filtring }}/" class="btn btn-success">В корзину <i style="color: #ffffff" class="fa fa-shopping-cart"></i> </a>
                                {% else %}
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-2">В корзину <i style="color: #ffffff" class="fa fa-shopping-cart"></i> </button>
                                {% endif %}

                                {% if username %}
                                    <a href="http://127.0.0.1:8000/one_click/{{ technik.id }}/" class="btn btn-warning"><i style="color: #ffffff" class="fa fa-mouse-pointer"></i> Купить в клик</a>
                                {% else %}
                                    <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#modal-1"><i style="color: #ffffff" class="fa fa-mouse-pointer"></i> Купить в клик</button>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
            <div class="col-lg-4 col-lg-offset-5">
            <ul class="pagination">
                {% if techniks.has_previous %}
                    <li class="arrow"><a href="http://127.0.0.1:8000/shop/{{ type }}/{{ techniks.previous_page_number }}/{{ filtring }}/">&laquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in techniks.paginator.page_range %}
                    {% if page == techniks.number %}
                        <li class="active"><a href="http://127.0.0.1:8000/shop/{{ type }}/{{ page }}/{{ filtring }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="http://127.0.0.1:8000/shop/{{ type }}/{{ page }}/{{ filtring }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if techniks.has_next %}
                    <li class="arrow"><a href="http://127.0.0.1:8000/shop/{{ type }}/{{ techniks.next_page_number }}/{{ filtring }}/">&raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
            </div>
        </div>
    </div>







<div id="modal-1" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i> </button>
                    <h4 class="modal-title">Вы не можете лайкать наши продукты не залогинившись</h4>
                </div>
                <div class="modal-body">
                    <p>Сделайте это прямо сейчас!)
                    <a href="http://127.0.0.1:8000/auth/login_page/">Залогиньтесь</a> или же <a href="http://127.0.0.1:8000/auth/register_page/">Зарегистрируйтесь</a></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
</div>

<div id="modal-2" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i> </button>
                    <h4 class="modal-title">Вы не можете купить наш продукт не залогинившись</h4>
                </div>
                <div class="modal-body">
                    <p>Сделайте это прямо сейчас!)
                    <a href="http://127.0.0.1:8000/auth/login_page/">Залогиньтесь</a> или же <a href="http://127.0.0.1:8000/auth/register_page/">Зарегистрируйтесь</a></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
</div>


</div>


<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}