.navbar.navbar-inverse{
   background: rgba(0,0,0,0.4);
}

/*body {
    background: url('newyork.jpg');
    background-size: 1440px 800px;
}*/

.dropdown-menu{
    background: rgba(0,0,0,0.4);
}
.divider{
    background-color: #0f0f0f;
}