{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static/style.css" %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>
<body>

<div class="container">
    <div class="row">
        <!--<h1>Internet Market</h1>-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <!--<div class="container">-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Open navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://127.0.0.1:8000/1/">Internet Market LOGO</a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазин<b class="caret"></b> </a>
                            <ul class="dropdown-menu shop">
                                <li><a href="http://127.0.0.1:8000/shop/notebook/" style="color: #ffffff">Ноутбуки</a> </li>
                                <li><a href="http://127.0.0.1:8000/shop/smartphone/" style="color: #ffffff">Смартфоны</a> </li>
                                <li><a href="http://127.0.0.1:8000/shop/tv/" style="color: #ffffff">ТВ</a> </li>
                            </ul>
                        </li>
                        <li><a href="#">Акции</a> </li>
                        <li><a href="#">О компании</a> </li>
                        <li><a href="#">Контакты</a> </li>
                    </ul>
                    <form action="http://127.0.0.1:8000/auth/login/" method="post" class="navbar-form navbar-right" style="margin-right: 2px">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="username" id="username" type="text" class="form-control" placeholder="Login" style="background: #ffffff">
                        </div>
                        <div class="form-group">
                            <input name="password" id="password" type="password" class="form-control" placeholder="Password" >
                        </div>
                        <button type="submit" value="Submit" class="btn btn-success">
                            {% if username %}
                                <i class="fa fa-sign-in"></i> username
                            {% else %}
                                <i class="fa fa-sign-in"></i> Sign in
                            {% endif %}
                        </button>
                            <a href="http://127.0.0.1:8000/auth/register/" class="btn btn-primary"><i class="fa fa-check-square"></i> Sign up</a>
                    </form>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>



{% block shop %}
{% endblock %}
{% block start %}
{% endblock %}
</body>
</html>