{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static/style.css" %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"  type='text/css'>

</head>
<body>

<div class="container">
    <div class="row">
        <!--<h1>Internet Market</h1>-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <!--<div class="container">-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Open navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://127.0.0.1:8000/market/"">Market <i class="fa fa-mouse-pointer"></i>Click</a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазин<b class="caret"></b> </a>
                            <ul class="dropdown-menu shop">
                                <li><a href="http://127.0.0.1:8000/shop/notebook/1/" style="color: #ffffff">Ноутбуки</a> </li>
                                <li><a href="http://127.0.0.1:8000/shop/smartphone/1/" style="color: #ffffff">Смартфоны</a> </li>
                                <li><a href="http://127.0.0.1:8000/shop/tv/1/" style="color: #ffffff">ТВ</a> </li>
                            </ul>
                        </li>
                        <li><a href="http://127.0.0.1:8000/akcii/">Акции</a> </li>
                        <li><a href="http://127.0.0.1:8000/company/">О компании</a> </li>
                        <li><a href="http://127.0.0.1:8000/contacts/">Контакты</a> </li>
                        <li class="navbar divider-vertical"></li>
                        {% if username %}
                            <li><a href="http://127.0.0.1:8000/basket/"><i class="fa fa-2x fa-shopping-cart"></i></a></li>
                        {% else %}
                            <li><a data-toggle="modal" data-target="#modal-3"><i class="fa fa-2x fa-shopping-cart"></i> </a></li>
                        {% endif %}
                        <li><h5 style="color:#666666; margin-top: 20px">{{ cost }} <i class="fa fa-dollar" ></i></h5></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        {% if username %}
                            <a href="http://127.0.0.1:8000/auth/cabinet/" class="btn btn-warning sign-button">Кабинет</a>
                            <a href="http://127.0.0.1:8000/auth/logout/" class="btn btn-primary sign-button">( {{ username }} ) Выйти</a>
                        {% else %}
                            <a href="http://127.0.0.1:8000/auth/login_page/" class="btn btn-success sign-button">Войти</a>
                            <a href="http://127.0.0.1:8000/auth/register_page/" class="btn btn-primary sign-button">Регистрация</a>
                        {% endif %}
                    </form>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>

<div id="modal-3" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i> </button>
                    <h4 class="modal-title">Вы не можете посмотреть корзину поскольку вы не залогинены!</h4>
                </div>
                <div class="modal-body">
                    <p>Сделайте это прямо сейчас!)
                    <a href="http://127.0.0.1:8000/auth/login_page/">Залогиньтесь</a> или же <a href="http://127.0.0.1:8000/auth/register_page/">Зарегистрируйтесь</a></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
</div>


{% block shop %}
{% endblock %}
{% block start %}
{% endblock %}
{% block log %}
{% endblock %}
{% block prod_page %}
{% endblock %}
{% block basket %}
{% endblock %}
{% block cabinet %}
{% endblock %}

<footer style="background: #222222">
<div class="container">
<div class="row">
		<div class="span12">

            <div class="col-lg-4" style="margin-top: 40px">
			<div class="span2" style="width: 100%;">
                <h4 style="color : #ffffff; margin-left: 100px">Наши странички</h4>
				<ul class="unstyled">
					<li style="margin-left: 100px ; color: #ffffff"><a href="https://vk.com/feed" target="_blank"><i class="fa fa-2x fa-vk" style="color: #ffffff"></i></a></li>
					<li style="margin-left: 100px ; color: #ffffff"><a href="https://uk-ua.facebook.com/" target="_blank"><i class="fa fa-2x fa-facebook" style="color: #ffffff ; margin-top: 10px"></i></a></li>
					<li style="margin-left: 100px ; color: #ffffff"><a href="https://twitter.com/?lang=uk" target="_blank"><i class="fa fa-2x fa-twitter" style="color: #ffffff ; margin-top: 10px"></i></a></li>
                    <li style="margin-left: 100px ; color: #ffffff"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-2x fa-instagram" style="color: #ffffff ; margin-top: 10px"></i></a></li>
				</ul>
			</div>
            </div>

            <div class="col-lg-4" style="margin-top: 40px">
			<address style="color: #ffffff ; margin-left: 80px">
                <p></p>
                <strong>www.Market-Click.com</strong><br/>
                Saksaganskogo 33<br/>
                Kyiv, Ukraine<br/>
                Phone: +38(044)-452-52-52
            </address>
            </div>

            <div class="col-lg-4" style="margin-top: 10px">
                <h4 style="color : #ffffff; margin-left: 100px">Map with route from nearest metro station "Olympyiska"</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2541.380753704883!2d30.5124104655013!3d50.43400817947309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x40d4cee2af686173%3A0x881cc595a8565!2z0J7Qu9GW0LzQv9GW0LnRgdGM0LrQsCwg0JrQuNGX0LI!3m2!1d50.4321744!2d30.515856699999997!4m5!1s0x40d4cefc9261d8d3%3A0x1a7f677dc9ddc4f4!2z0LLRg9C7LiDQodCw0LrRgdCw0LPQsNC90YHRjNC60L7Qs9C-LCAzMywg0JrQuNGX0LI!3m2!1d50.43568!2d30.513159499999997!5e0!3m2!1suk!2sua!4v1465327102145" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span12">
				<p class="muted col-lg-4 col-lg-offset-5" style="color: #ffffff">© 2016 Market-Click. All rights reserved</p>
		</div>
	</div>
</div>
</footer>

</body>
</html>