{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet Market</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static/style.css" %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>
<body>

<div class="container">
    <div class="row">
        <!--<h1>Internet Market</h1>-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Open navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Internet Market LOGO</a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brends<b class="caret"></b> </a>
                            <ul class="dropdown-menu brends">

                                <li><a class="fa fa-apple" style="color: #cccccc" href="/product/apple/"></a> </li>
                                <li><a class="fa fa-android" style="color: #cccccc" href="#"></a> </li>
                                <li><a class="fa fa-windows" style="color: #cccccc" href="#"></a> </li>

                            </ul>
                        </li>
                        <li><a href="#">Tag 2</a> </li>
                        <li><a href="#">Tag 3</a> </li>
                        <li><a href="#">Tag 4</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>

<!-- Button scroll

<div class="container">
    <div class="row top-buffer">
        <div class="col-lg-6">
            <div class="btn-group">
                <button class="btn btn-success">Primary</button>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-caret-down"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>Пункт 1</li>
                    <li>Пункт 2</li>
                    <li>Пункт 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
-->

<br>
<br>

<!--
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" data-toggle="tab">Вкладка-1</a></li>
                    <li><a href="#tab-2" data-toggle="tab">Вкладка-2</a></li>
                    <li><a href="#tab-3" data-toggle="tab">Вкладка-3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-1">
                        <p>Текст</p>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <p>Текст 2</p>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <p>Текст 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->

<div class="row">
    <div class="col-lg-2">
        <div id="accordeon" class="panel-group">
<!--First panel-->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse-1" data-parent="#accordeon" data-toggle="collapse">Первый раздел</a>
                    </h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="#">Продукт</a>
                        <a href="#">Продукт</a>
                        <a href="#">Продукт</a>
                    </div>
                </div>
            </div>
<!--Second panel-->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse-2" data-parent="#accordeon" data-toggle="collapse">Второй раздел</a>
                    </h4>
                </div>
                <div id="collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="#">Продукт</a>
                        <a href="#">Продукт</a>
                        <a href="#">Продукт</a>
                    </div>
                </div>
            </div>
<!--Third panel-->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse-3" data-parent="#accordeon" data-toggle="collapse">Третий раздел</a>
                    </h4>
                </div>
                <div id="collapse-3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h5><a href="#">Ноутбуки</a></h5>
                        <hr>
                        <h5><a href="#">Планшеты</a></h5>
                        <hr>
                        <h5><a href="#">Десктопы</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div><div class="col-lg-offset-2">
        <div class="well">
            gtsegseg
        </div>
    </div>
    </div><div class="col-lg-offset-2">
        <div class="well">
            jfjy
        </div>
    </div>
    </div><div class="col-lg-offset-2">
        <div class="well">
            Product
        </div>
    </div>
    </div><div class="col-lg-offset-2">
        <div class="well">
            Product
        </div>
    </div>

</div>

<div class="col-lg-offset-2">
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-1">открыть модал окно</button>
    </div>

<div id="modal-1" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i> </button>
                    <h4 class="modal-title">Заглавие</h4>
                </div>
                <div class="modal-body">
                    <p>Описание окна</p>
                    <a href="#">link</a>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
</div>





<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>